baseURL = "https://nish.com/"
title = "Networking, Security, Cloud & Tech"
author = "Nish Vamadevan"
theme = "inkblotty"
paginate = 10

languageCode = "en-us"
DefaultContentLanguage = "en-us"
disableHugoGeneratorInject = true

enableInlineShortcodes = true
footnoteReturnLinkContents = "^"
disqusShortname = "fnode"

summaryLength=150

[permalinks]
  post = "/blog/:title/"
  page = "/go/:title/"

[taxonomies]
  category = "categories"
  tags = "tags"

[Params]
  readmore = true

[outputs]                          # c.f. https://gohugo.io/templates/output-formats/
  home = ["HTML", "RSS"]
  page =  ["HTML"]
  section =  ["HTML", "RSS"]
  taxonomyTerm =  ["HTML", "RSS"]
  taxonomy =  ["HTML", "RSS"]

[sitemap]
  filename = "sitemap.xml"  # c.f. https://gohugo.io/templates/sitemap-template/#configure-sitemap-xml

[markup.goldmark.renderer]
unsafe= true
